{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Basic website learning">
    <title>Home</title>
</head>
<body>
    {% block content%}
    <h1>Message Board</h1>
    {% for post in post_list %}
    <div class="post">
        <h2><a href="{% url 'post-detail' post.pk %}">{{post.title}}</a></h2>
        <p>{{post.text}}</p>
    </div>
    {% endfor %}
    {% endblock content %}
</body>
</html>